# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Other files and folders
.settings/
.nova/
node_modules/
.next/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
